{% extends 'base.html' %}

{% block title %}
    Emissions Calculator
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/login-style.css">
{% endblock %}

{% block content %}
<script>
    const AVERAGE_CAR_EMISSIONS_PER_KM = 0.1224;
    const AVERAGE_CAR_EMISSIONS_PER_MILE = AVERAGE_CAR_EMISSIONS_PER_KM * 1.60934;

    const updateEmissions = (miles) => {
        document.getElementById("emissions").innerText =
            (parseFloat(miles) * AVERAGE_CAR_EMISSIONS_PER_MILE).toFixed(2);
    }
</script>
<main class=" container-fluid content-box text-center">
    <div class="container form-signin col-lg-3 col-md-6 col-sm-12">
        <form class="login-form" method="post">
            <h1 class="h3 mb-3 fw-normal green">Enter your journey details</h1>
            <label for="miles" class="visually-hidden">
                Journey Distance (Miles)
            </label>
            <input type="text" name="miles" id="miles" class="form-control" placeholder="0" required autofocus>

            <input type="submit" class="w-100 btn btn-lg green-button mt-4" value="Calculate">
        </form>
    </div>
</main>
{% endblock %}