{% extends 'base.html' %}

{% block title %}
    Goals
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/goals-style.css">
    <link rel="stylesheet" href="../static/progress-bars-style.css">
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid mt-3 content-box">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="container">
                    <div class="margin-top"></div>
                    <form class="form-inline">
                        <input class="form-control form-control-lg col-12" type="search" placeholder="Type your new goal..." aria-label="Type your new goal..">
                        <button class="mt-2 btn-lg btn col-12 green-button" type="submit">Add new goal</button>
                    </form>    
                </div>
            </div>
        
        <div class="col-lg-8 col-md-8 col-sm-12">
        <!-- PROGRESS BARS -->
        <div class="overflow-auto overflow">
            <div class="container-fluid">
                <div class="row">
                    <div class="container col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="progressBar col-12 p-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="progress yellow">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">90%</div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pellentesque ipsum.
                                    Proin faucibus placerat libero vitae gravida. Maecenas ut pharetra est.
                                    Vivamus ac nulla in orci pulvinar ornare sed at libero.
                                </div>
                            </div>     
                        </div>      
                    </div>        

                    <div class="container col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="progressBar col-12 p-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="progress green">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">75%</div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pellentesque ipsum.
                                    Proin faucibus placerat libero vitae gravida. Maecenas ut pharetra est.
                                    Vivamus ac nulla in orci pulvinar ornare sed at libero.
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="container col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="progressBar col-12 p-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="progress green">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">90%</div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pellentesque ipsum.
                                    Proin faucibus placerat libero vitae gravida. Maecenas ut pharetra est.
                                    Vivamus ac nulla in orci pulvinar ornare sed at libero.
                                </div>
                            </div>
                            
                            
                        </div>      
                    </div>        

                    <div class="container col-lg-6 col-md-6 col-sm-6 mb-3">
                        <div class="progressBar col-12 p-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="progress pink">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">75%</div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pellentesque ipsum.
                                    Proin faucibus placerat libero vitae gravida. Maecenas ut pharetra est.
                                    Vivamus ac nulla in orci pulvinar ornare sed at libero.
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>


                <div class="row">
                    <div class="container col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="progressBar col-12 p-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="progress yellow">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">90%</div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pellentesque ipsum.
                                    Proin faucibus placerat libero vitae gravida. Maecenas ut pharetra est.
                                    Vivamus ac nulla in orci pulvinar ornare sed at libero.
                                </div>
                            </div>     
                        </div>      
                    </div>        

                    <div class="container col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="progressBar col-12 p-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <div class="progress green">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">75%</div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pellentesque ipsum.
                                    Proin faucibus placerat libero vitae gravida. Maecenas ut pharetra est.
                                    Vivamus ac nulla in orci pulvinar ornare sed at libero.
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>    
            </div>  
        </div>    
    </div>
    </div>
</main>
{% endblock %}
