{% extends 'base.html' %}

{% block title %}
    Goals
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/goals-style.css">
    <link rel="stylesheet" href="../static/progress-bars-style.css">
    <script src="../static/script.js"></script>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid mt-3 content-box">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                <div class="container">
                    <div class="margin-top"></div>
                    <form class="form-inline" action="/goals/data" method="post">
                        <input name="name" class="form-control form-control-lg col-12" type="search" placeholder="Type your new goal..." aria-label="Type your new goal..">
                        <button class="mt-2 btn-lg btn col-12 green-button" type="submit">Add new goal</button>
                    </form>
                </div>
            </div>
        
        <div class="col-lg-8 col-md-8 col-sm-12">
        <!-- PROGRESS BARS -->
        <div class="overflow-auto overflow">
            <div class="container-fluid">
                <div class="row">
                    {% for goal in goals %}
                    <div class="container col-lg-6 col-md-6 col-sm-6  mb-3">
                        <div class="progressBar col-12 p-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    {% if goal["percentage"] > 70 %}
                                    <div class="c100 p{{ goal['percentage']|int }} green">
                                    {% elif goal["percentage"] > 40 %}
                                    <div class="c100 p{{ goal['percentage']|int }} yellow">
                                    {% else %}
                                    <div class="c100 p{{ goal['percentage']|int }} pink">
                                    {% endif %}
                                    <span>{{ goal["percentage"]|round(2) }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    {{ goal["name"] }}
                                    <div>
                                        <button class="btn btn-primary" onclick="changePercentage(
                                                {{ goal["id"] }}, {{ goal["percentage"] - 10}}
                                        )">-</button>
                                        <button class="btn btn-primary" onclick="changePercentage(
                                                {{ goal["id"] }}, {{ goal["percentage"] + 10}}
                                        )">+</button>
                                    </div>
                                </div>
                            </div>     
                        </div>      
                    </div>
                    {% endfor %}
                </div>
            </div>    
            </div>  
        </div>
    </div>
    </div>
</main>
{% endblock %}
