<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
	<main>
		<div class="welcome">
			<h2>WELCOME TO</h2>
			<h1>MELON</h1>
			<h3>Make a goal today. Create a better tomorrow.</h3>
			<div class="start">
				<button>Let's get started   &#10171</button>
			</div>
		</div>
		<img id="goals-image" src="personal-goals.png" alt="Personal Goals">
	</main>

	<hr>

	<div class="team">
		<div class="teamTitle">
		<h4>Meet the Team</h4>
		</div>

		<div class="teammembers">
		<div class="card">
			<div class="green-card-header card-main">
				<h3>Dan</h3>
			</div>
			<div class="card-main">
				<p>content</p>
			</div>
		</div>

		<div class="card">
			<div class="amber-card-header card-main">
				<h2>Tangil</h2>
			</div>
			<div class="card-main">
				<p>content</p>
			</div>
		</div>

		<div class="card">
			<div class="red-card-header card-main">
				<h2>Weronika</h2>
			</div>
			<div class="card-main">
				<p>content</p>
			</div>
		</div>

		<img id="team-image" src="team-project.png" alt="A hardworking team works hard">

		<div class="card">
			<div class="green-card-header card-main">
				<h3>Arkadiusz</h3>
			</div>
			<div class="card-main">
				<p>content</p>
			</div>
		</div>

		<div class="card">
			<div class="amber-card-header card-main">
				<h3>Zaynab</h3>
			</div>
			<div class="card-main">
				<p>content</p>
			</div>
		</div>
	
	</div>

</body>
</html>
