{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/home-style.css">
{% endblock %}

{% block content %}
<div>
	<main>
		<div class="welcome">
			<h2>WELCOME TO</h2>
			<h1>MELON</h1>
			<h3>Make a goal today. Create a better tomorrow.</h3>
			<div class="start">
				<button onclick="location.href = '/login';">Let's get started   &#10171</button>
			</div>
		</div>
		<img id="goals-image" src="../static/personal-goals.png" alt="Personal Goals">
	</main>

	<hr>

	<div class="team">
		<div class="teamTitle">
		<h4>Meet the Team</h4>
		</div>

		<div class="teammembers">
		<div class="card">
			<div class="green-card-header card-main">
				<h3> <span class="melon"  style="left: -75px;">🍉</span>Dan</h3>		
	
			</div>
			<div class="container">
				<img src="../static/images/dan.png" class="circle-icon">
				<div class="card-main">
					<p> Backend</p>
				</div>
			</div>		
		</div>

		<div class="card">
			<div class="amber-card-header card-main">
				<h3>
					<div class="row">
						<span class="melon" style="left: -62px;">🍉</span>
						<span class="name"> Tangil </span>	
					</div>
				</h3>
			</div>
			<div class="container">
				<img src="../static/images/tangil.jpg" class="circle-icon">
				<div class="card-main">
					<p>Backend</p>
				</div>
			</div>		
		</div>

		<div class="card">
			<div class="red-card-header card-main col-12">
				<h3>
					<div class="row">
						<span class="melon" style="left: -50px;">🍉</span>
						<span class="name"> Weronika </span>	
					</div>
				</h3>	
			</div>
			<div class="container">
				<img src="../static/images/weronika.jpg" class="circle-icon">
				<div class="card-main">
					<p>Frontend</p>
				</div>
			</div>		
		</div>

		<img id="team-image" src="../static/team-project.png" alt="A hardworking team works hard">

		<div class="card">
			<div class="green-card-header card-main">
				<h3> <span class="melon"  style="left: -45px;">🍉</span>Arkadiusz</h3>	
			</div>
			<div class="container">
				<img src="../static/images/arkadiusz.jpg" class="circle-icon">
				<div class="card-main">
					<p>Backend </p>
				</div>
			</div>		
		</div>

		<div class="card">
			<div class="amber-card-header card-main">
				<h3> <span class="melon"  style="left: -62px;">🍉</span>Zaynab</h3>	
			</div>
			<div class="container">
				<img src="../static/images/zaynab.png" class="circle-icon">
				<div class="card-main">
					<p>Frontend</p>
				</div>
			</div>		
		</div>
	
	</div>

    </div>
</div>
{% endblock %}
