<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Melon</title>
	<link rel="stylesheet" href="traffic-light-style.css">
</head>

<body>
	<nav>
		<h2 id="melon-title">Melon</h2>
			
		<div class="primary-nav-links">
			<a class="active" href="#home">Traffic light</a>
			<a href="#goals">Goals</a>
		</div>

		<div class="secondary-nav-links">
			<a href="#register"> Register </a>
			<a href="#login"> Login </a>
		</div>
	</nav>


	<div class="search-bar">
		<input type="text" placeholder="&#128269">
	</div>


	<div class="container">
		<div class="card">
			<div class="green-card-header card-main">
				<h2>&#128525</h2>
			</div>
			<div class="card-main">
				<p>content</p>
			</div>
		</div>

		<div class="card">
			<div class="amber-card-header card-main">
				<h2>&#128528</h2>
			</div>
			<div class="card-main">
				<p>content</p>
			</div>
		</div>

		<div class="card">
			<div class="red-card-header card-main">
				<h2>&#129326</h2>
			</div>
			<div class="card-main">
				<p>content</p>
			</div>
		</div>
	</div>
</body>

</html>
