
input[type=text] {
    float: right;
    text-align: right;
    padding: 6px;
    border: none;
    font-size: 17px;
    background-color: #efefef;
    border-radius: 15px;
}

.search-bar ul {
    border-radius: 15px;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 50px;
}


.container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #efefef;
    border-radius: 15px;
    margin-bottom: 30px;
    min-height: 250px;
}

.card-main {
    border-radius: 15px 15px 0 0;
    padding: 7px;
}

.green-card-header {
    background-color: #b5ead7;
}


.amber-card-header {
    background-color: #ffdac1;
}


.red-card-header {
    background-color: #ff9aa2;
}


.float-right {
    float: right;
    margin-right: 15px;
}


.card h2 {
    margin-left: 25px;
}


.card p {
    text-align: left;
    margin-left: 25px;
}

.card:focus {
  border-color: black;
  border-radius: 100px;
  background-color: yellow;
}

.not-found {
    float: right;
    text-align: center;
    background-color: #ff9aa2;
    border-radius: 15px;
}

.ui-autocomplete {
    background-color: #efefef;
    list-style-type: none;
    border-radius: 15px;
    // margin-right: 50px;
}

.ui-autocomplete li {
    border-top: 1px solid #999999;
}

.ui-helper-hidden-accessible {
    display:none;
}
